<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <% if (prods.length > 0) { %>
                    <div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
                        <% for (let product of prods) { %>
                        <div>
                            <article class="group relative">
                                <div class="w-full min-h-80 bg-gray-200 aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:h-80 lg:aspect-none">
                                    <img src="<%= product.imageUrl %>" alt="<%= product.title %>" class="w-full h-full object-center object-cover lg:w-full lg:h-full">
                                </div>



                                <div class="mt-4 flex justify-between">
                                    <div>
                                    <h3 class="text-sm text-gray-700">
                                        <a href="/products/<%= product._id %>">
                                        <span aria-hidden="true" class="absolute inset-0"></span>
                                        <%= product.title %>
                                        </a>
                                    </h3>
                                    <p class="mt-1 text-sm text-gray-500"><%= product.description %></p>
                                    </div>
                                    <p class="text-sm font-medium text-gray-900">$<%= product.price %></p>
                                </div>

                            </article>

                            <div class="card__actions">
                                <!-- <a href="/products/<%= product._id %>" class="btn">Details</a> -->
                                <% if (isAuthenticated) { %>
                                    <%- include('../includes/add-to-cart.ejs', {product: product}) %>
                                <% } %>
                            </div>
                        </div>
        
                        <% } %>
                    </div>
                    <% } else { %>
                        <h1>No Products Found!</h1>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>